:root {
  --primary: #6c63ff;
  --secondary: #00c6ff;
  --dark: #111827;
  --light: #f9fafb;
  --text: #374151;
  --border: #e5e7eb;

  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background: var(--light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background: #f8fafc;
}


#root {
  min-height: 100vh;
  width: 100%;
}


button {
  font-family: inherit;
  cursor: pointer;
}


a {
  text-decoration: none;
  color: inherit;
}


input,
textarea,
select {
  font-family: inherit;
}

/* =========================================================
   REMOVE CHROME AUTOFILL BLUE BACKGROUND
   ========================================================= */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
  box-shadow: 0 0 0 1000px #ffffff inset !important;

  -webkit-text-fill-color: #111827 !important;

  background-color: #ffffff !important;

  transition: background-color 5000s ease-in-out 0s !important;
}